{% for message in messages %}{{ '<|im_start|>' + message['role'] + '\n' }}{% if message['role'] == 'assistant' %}{% generation %}{{ message['content'] }}<|im_end|>
{% endgeneration %}{% else %}{{ message['content'] }}<|im_end|>
{% endif %}{% endfor %}{% if add_generation_prompt %}{{ '<|im_start|>assistant\n' }}{% endif %}